* {
  box-sizing: border-box;
}
body {
  background: #111111;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.sky {
  width: 600px;
  height: 600px;
  background: blue;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  animation: 16s skyColor ease-in-out infinite;
}

.sun {
  background: yellow;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  bottom: -100px;
  left: -150px;
  animation: 16s sunMotion ease-in-out infinite;
}

.mountains {
  height: 200px;
  width: 600px;
  position: absolute;
  bottom: 0;
  z-index: 3;
}

.mountain {
  position: absolute;
  width: 220px;
  height: 350px;
  background-color: green;
  border-radius: 50%;
  transform: rotate(90deg);
}

.mountain:nth-child(1) {
  top: -30px;
  left: 10px;
}

.mountain:nth-child(2) {
  top: -50px;
  left: 120px;
  width: 240px;
  height: 360px;
}

.mountain:nth-child(3) {
  top: -20px;
  left: 180px;
  width: 240px;
  height: 240px;
}

.mountains:nth-of-type(2) {
  left: 220px;
  bottom: -40px;
  transform: rotate(25deg);
}

@keyframes sunMotion {
  0% {
    background: white;
    transform: translate(0px, 0px);
  }
  16% {
    background: orange;
    box-shadow: none;
    transform: translate(0px, 0px);
  }
  33% {
    background: yellow;
    box-shadow: 1px 1px 100px yellow;
    transform: translate(350px, -450px);
  }
  49% {
    background: tomato;
    box-shadow: none;
    transform: translate(750px, 0px);
  }
  66% {
    background: white;
    box-shadow: none;
    transform: translate(0px, 0px);
  }
  83% {
    box-shadow: 1px 1px 100px #fff;
    transform: translate(350px, -450px);
  }
  100% {
    background: white;
    transform: translate(750px, 0px);
  }
}

@keyframes skyColor {
  0% {
    background: black;
  }
  16% {
    background: pink;
  }
  33% {
    background: blue;
  }
  49% {
    background: purple;
  }
  66% {
    background: black;
  }
  83% {
    background: #333333;
  }
  100% {
    background: black;
  }
}

footer {
  width: 100%;
  padding: 0.5rem 0;
}

footer p, footer small {
  text-align: center;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

footer .fa-terminal{
  animation: terminal-animate 1.5s infinite;
}

@keyframes terminal-animate {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
